<!doctype html>
<html ng-app="popApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pop by Calopea</title>

    <!-- CSS -->
    <link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/libs/flat-ui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="libs/angular-ui-select/dist/select.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        .draggable {
            cursor: move;
        }
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
      </style>

      <!--- SCRIPTS -->
      <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
      <script src="/libs/jquery/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/libs/flat-ui.min.js"></script>
      <script src="/libs/angular/angular.js"></script><!-- load angular -->
      <script src="/libs/angular-route/angular-route.min.js"></script>
      <script src="/libs/bootstrap-ui/ui-bootstrap-0.11.2.js"></script>
      <script src="/libs/bootstrap-ui/ui-bootstrap-tpls-0.11.2.js"></script>
      <script src="libs/angular-ui-select/dist/select.min.js"></script>      

      <!-- <script src="js/deck.js"></script> <!-- load up deck module -->
      <!--<script src="js/auth_module.js"></script> <!-- load the authentication module -->
      <!--<script src="js/modal.js"></script> <!-- load the modal service -->
      <!--<script src="js/contacts.js"></script> <!-- load the contact module & controller -->
      <!--<script src="js/user.js"></script> <!-- load up user module -->
      <script src="js/rdffoafrequest.js"></script> <!-- load our main application -->

  </head>
  <!-- SET THE CONTROLLER -->
  <body>
    <div class="container">
        <div class="header pull-right" ng-controller="menuCtrl">
            <span class="text-center text-muted">{{welcome}}</span>
            <ul class="nav nav-pills">
                <!-- <li ng-show="!isAuthenticated"><a href="#/signup">sign up for a new account</a></li>
                <li ng-show="!isAuthenticated"><a href="#/login">login</a></li>
                <li ng-show="adminUser"><a href="#/admin">admin</a></li>
                <li ng-show="isAuthenticated"><a href="#/contacts">contacts</a></li>
                <li ng-show="isAuthenticated"><a href="#/decks">decks</a></li>
                <li ng-show="isAuthenticated"><a ng-click="logout()" href="">log out</a></li> -->
            </ul>
        </div>
        <h3 class="text-muted">Pop!</h3>
    </div>
    <br/>

    <div ng-view></div>
    <!-- footer -->
    <div class="text-center text-muted">
        <div class="col-md-9">
            <p>© Happily brought to you by <a href="http://www.calopea.com" target="_blank">Calopea</a>.</p>
        </div>
        <div class="col-md-3">v0.1.3</div>
    </div>
  </body>
  </html>
